body{
    background-image: url('../image/bg.jpg');
    background-size: cover;
}
.form-horizontal {
    background-color: aliceblue;
    margin: 150px 450px;
    padding: 20px;
    border-radius: 10px;

}