body {
    background-color:#dff0d8;
}
button.btn.btn-success.action-nav {
    margin-top: 8px;
}
ul.nav.nav-pills.navbar-left {
    margin-top: 4px;
}
ul.nav.nav-pills.navbar-right {
    margin-top: 4px;
}

ul.navbar-right {
    margin-right: 40px;
}
th, td {
    text-align:center;
    vertical-align: middle;
}
.table>thead>tr>th {
    vertical-align: middle;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
/*margin for action button*/
button.btn.btn-success {
    margin-left: 10px;
}
/* bold label */
.bold-label {
    margin: 0px 0px 5px 0px;
    font-weight: 700;
}
.form-vertical {
    background-color: aliceblue;
    margin: 0px 350px;
    padding: 0px 50px 50px 50px;
    border-radius: 10px;
}
/* label footer*/
.label-footer {
    margin-top: 20px;
    font-weight: 500;
}
/* a tag on nav bar*/
a.btn.btn-success.action-nav {
    margin-top: 8px;
}
/*redeclare class*/
.alert-success  {
    margin: 0px 350px;
    color: rgba(49, 171, 10, 0.94);
    background-color: #ddd;
    border-color: #d6e9c6;
    font-size: 16px;
    text-align: center;
}
.alert-warning {
    margin: 0px 350px;
    font-size: 16px;
    text-align: center;
}

