/*
------------
Visit twitterbootstrap.org for more tut 
-------------
*/

/*@import url('/bookonline/assets/css/bootstrap.min.css');*/
/*@import url('/bookonline/assets/css/bootstrap-responsive.min.css');*/
/* New styles */

label.valid {
        margin-left: 5px;
	width: 24px;
	height: 24px;
	background: url(/bookonline/assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: 100;
	color: red;
	margin-top: 2px;
}
/*display error image inline with input text field*/
.with-error {
    width: 90%;
    display: inline-block;
}
